.App {
  text-align: center;
}

#landing-page {
  background-image: url("assets/bg-2-full.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centerText {
  display: table-cell;
  color: white;
  background-color: black;
  width: 35%;
  height: 60vh;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%;
}

.centerText hr {
  border-top: 5px dotted white;
  border-bottom: 5px;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.centerPeice {
  margin-top: 5%;
}

.centerVertical {
  align-items: center;
  translate: 20%;
  margin-left: 7%;
}

.myRow {
  margin: auto;
  margin-top: 1%;
}

.MyFace {
  height: 60vh;
}

.social-links {
  width: 25%;
  margin: auto;
  margin-top: 10%;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 8px;
}

.descriptionCard {
  display: table-cell;
  color: black;
  background-color: coral;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
}

.skills {
  background-color: cornflowerblue;
  width: 17%;
  text-align: center;
  float: right;
  translate: 0 -10%
}

.skills i {
  color: black;
  font-size: 3em;
  padding-bottom: 8px
}

.skills strong {
  font-size: 3em;
  color: black;
}

.recordings {
  position: fixed;
  min-width: 100%;
  min-height: 50%;
  max-height: 90%;
  scroll-behavior: auto;
  overflow-y: scroll;
}

.background {
  background-image: url("assets/bg-2-full.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.recording {
  margin: 4px;
  padding: 4px;
}